/*-------------General -------------*/
@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto:400,500,700,900');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}
.hero{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 125px 100px;
}
.verdict{
  display: flex;
	align-items: row;
  flex-direction: column;
}
.flex_body{
	display: flex;
	align-items: flex-start;

}
*, *:before, *:after {
  box-sizing: inherit;
}
@media (max-width: 1000px){
	section{
		padding: 100px 50px;
	}
}

/*-------------Hero Section -------------*/
.hero{
	position: relative;
	justify-content: center;
	min-height: 50vh;
	text-align: center; }

.hero h1,p{
  font-family: Righteous, sans-serif;
  text-align: center; }

.hero h1{
    font-size: 5em;
    font-weight: 700;}

.hero p{
  font-size: 2em;
  margin-bottom: 20px;
  color: #7f7f7f;}

@media (max-width: 600px){

}

/*-------------Search Button for front Screen-------------*/
.hero .search {
  width: 50%;
  position: relative;
}
.hero .searchTerm {
  float: left;
  width: 100%;
  padding: 5px;
  height: 50px;
  outline: none;
  background-color: #c4c4c4;
  border: 0px;
}
.hero .searchTerm:focus{
  color: #000;
  font-size: 30px;
}
.hero .searchButton {
  position: absolute;
  left: 10px;
  cursor: pointer;
  color: #000000;
  background: none;
  border: none;
}
.hero .fa-search{
    font-size: 2em;
    margin: 12px 0;
}

/*-------------The Verdict-------------*/
.navbar{
width: 100%;
background: #505050;
padding: 20px;
display: flex;
align-items: center;
margin: 0 0 0px 0;
justify-content: space-around;
position: fixed;
top: 0;
}
.search{
  width: 40%;
}
.search input {
  width: 100%;
}
.username{
  font-family: Righteous, sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: white;
  letter-spacing: 2px;
}
.verdict_left{
	width: 50%;
	height: 100vh;

}
.verdict_left svg{
	height: 100%;
}
.verdict_left a{
	position: absolute;
	bottom: 2%;
	left: 2%;
	text-decoration: none;
	color: #000;
	font-family: Righteous, sans-serif;
	font-size: 2em;
}
.verdict_right{
	width: 50%;
	height: inherit;
	padding-left: 20px;
 padding-top: 60px;
}
.verdict_right p:first-of-type{
	margin-top: 30px;
}
.verdict_right p{
	text-align: left;
}
.verdict_right h2{
	font-size: 3em;
	padding-top: 30px;
}
.verdict_right .main_content{
	margin-top: 30px;
}

/*-------------The Verdict-------------*/
.verdict_left .Heavy-Test{
	background-color: rgb(233,74,75);
	transition: all .2s ease-in-out;
}
.verdict_left .Moderate-Test{
	background-color: rgb(249,160,30);
	transition: all .2s ease-in-out;
}
.verdict_left .Light-Test{
	background-color: rgb(101,126,190);
	transition: all .2s ease-in-out;
}
