/*-------------General -------------*/
@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto:400,500,700,900');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
}
.hero{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 125px 100px;
}
.verdict{
  display: flex;
	align-items: center;
}
*, *:before, *:after {
  box-sizing: inherit;
}
@media (max-width: 1000px){
	section{
		padding: 100px 50px;
	}
}

/*-------------Hero Section -------------*/
.hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	text-align: center; }

.hero h1,p{
  font-family: Righteous, sans-serif;
  text-align: center; }

.hero h1{
    font-size: 5em;
    font-weight: 700;}

.hero p{
  font-size: 2em;
  margin-bottom: 20px;
  color: #7f7f7f;}

@media (max-width: 600px){

}

/*-------------Search Button for front Screen-------------*/
.hero .search {
  width: 50%;
  position: relative;
}
.hero .searchTerm {
  float: left;
  width: 100%;
  padding: 5px;
  height: 50px;
  outline: none;
  background-color: #c4c4c4;
  border: 0px;
}
.hero .searchTerm:focus{
  color: #000;
  font-size: 30px;
}
.hero .searchButton {
  position: absolute;
  left: 10px;
  cursor: pointer;
  color: #000000;
  background: none;
  border: none;
}
.hero .fa-search{
    font-size: 2em;
    margin: 12px 0;
}

/*-------------The Verdict-------------*/
.bar{
width: 100%;
background: #eee;
padding: 20px;
display: flex;
align-items: center;
}
.search{
flex: 1;
}

.search input {
  width: 100%;
}
