.circle {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.circle-text {
	position: relative;
	top: 35px;
	left: 30px;
	color: white;
}

.red {
	background: red;
}

.orange {
	background: orange;
}

.green {
	background: green;
}
